<% form_for [:admin, @survey] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Save Changes" %> or <%= link_to "Cancel", admin_surveys_path %></p>
<% end %>
