<% title "Surveys" %>

<table class="hor-minimalist-b" width="100%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Responses</th>
      <th scope="col">URL</th>
      <th scope="col" width="200">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%=h survey.name %></td>
        <td><%=h survey.surveyees.count %></td>
        <td><%= link_to "Go To Survey", survey_url(survey.unique_code) %></td>
        <td>
          <%= link_to "Show", [:admin, survey] %> |
          <%= link_to "Builder", admin_survey_survey_questions_path(survey) %> |
          <%= link_to "Edit", edit_admin_survey_path(survey) %> |
          <%= link_to "Destroy", [:admin, survey], :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "New Survey", new_admin_survey_path %>
</p>
