<% title @survey.name %>
<div style="float:right; clear:right"><%= link_to "CSV", admin_survey_surveyees_path(@survey, :format => "csv")%></div>

<h3>Responses: <%=@respondants.size%></h3>

<table class="hor-minimalist-b" width="100%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <% @survey.survey_questions.each do |question| %>
        <th scope="col"><%=h question.question %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @respondants.each do |surveyee| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td nowrap><%=h surveyee.name %></td>
        <td><%=h surveyee.email %></td>
        <% @survey.survey_questions.each do |question| %>
        <td><%= @answers[surveyee.id][question.question] %></td>
        <% end %>
        <td>
          <%= link_to "Destroy", admin_survey_surveyee_path(@survey, surveyee), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Back to Surveys", admin_surveys_path %></p>
